In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ["likes", "visitors", "people", "category", "unknown0", "unknown1", "unknown2", "unknown3", "unknown4", "unknown5", "unknown6", "unknown7", "unknown8", "unknown9", "unknown10", "unknown11", "unknown12", "unknown13", "unknown14", "unknown15", "unknown16", "unknown17", "unknown18", "unknown19", "unknown20", "unknown21", "unknown22", "unknown23", "unknown24", "cc1 ", "cc2", "cc3 ", "cc4", "cc5", "base time", "length", "shares", "promoted", "hours", "sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "base sunday", "base monday", "base tuesday", "base wednesday", "base thursday", "base friday", "base saturday", "incoming comments"]
df = pd.read_csv('Dataset/Training/Features_Variant_1.csv', header=None, names=names, na_values='?')
df.head(6)

,likes,visitors,people,category,unknown0,unknown1,unknown2,unknown3,unknown4,unknown5,...,friday,saturday,base sunday,base monday,base tuesday,base wednesday,base thursday,base friday,base saturday,incoming comments
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,0,1,0
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,1,0,0,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,1,0,0,0,0
5,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0