In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ['likes', 'visitors', 'people', 'category', 'unknown0', 'unknown1', 'unknown2', 'unknown3', 'unknown4', 'unknown5', 'unknown6', 'unknown7', 'unknown8', 'unknown9', 'unknown10', 'unknown11', 'unknown12', 'unknown13', 'unknown14', 'unknown15', 'unknown16', 'unknown17', 'unknown18', 'unknown19', 'unknown20', 'unknown21', 'unknown22', 'unknown23', 'unknown24', 'cc1 ', 'cc2', 'cc3 ', 'cc4', 'cc5', 'base time', 'length', 'shares', 'promoted', 'hours', 'sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'base sunday', 'base monday', 'base tuesday', 'base wednesday', 'base thursday', 'base friday', 'base saturday', 'incoming comments']
df_train = pd.read_csv('Dataset/Training/Features_Variant_5.csv', header=None, names=names, na_values='?')
df_train.head(6)

,likes,visitors,people,category,unknown0,unknown1,unknown2,unknown3,unknown4,unknown5,...,friday,saturday,base sunday,base monday,base tuesday,base wednesday,base thursday,base friday,base saturday,incoming comments
0,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,0,0,0,0,1,0,0,0
1,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,1,0,0,0,0,0,0,0
2,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,1,0,0,0,0,0,0,0,1,0
3,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,1,0,0,1,0,0,0,0,0,0
4,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,0,0,0,0,1,0,0,0
5,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,0,0,0,1,0,0,0,0

In [3]:
ytrain = df_train['incoming comments'].values
Xtrain = df_train[['likes', 'visitors', 'people', 'category', 'length', 'shares', 'promoted', 'sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'incoming comments']]

In [4]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(Xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [5]:
ytrain_pred = regr.predict(Xtrain)
RSS_train = np.mean((ytrain_pred-ytrain)**2)/(np.std(ytrain)**2)
print(RSS_train)

3.209456371485952e-29

In [6]:
import glob
path = 'Dataset/Testing/TestSet/'
allFiles = glob.glob(path + '/*.csv')
testdfs = []
for file in allFiles:
    df = pd.read_csv(file, header=None, names=names, na_values='?')
    testdfs.append(df)

df_test = pd.concat(testdfs, axis=0, ignore_index=True)
df_test.head(6)

,likes,visitors,people,category,unknown0,unknown1,unknown2,unknown3,unknown4,unknown5,...,friday,saturday,base sunday,base monday,base tuesday,base wednesday,base thursday,base friday,base saturday,incoming comments
0,1340759,33935,49392,9,0.0,768.0,77.200000,36.5,132.861432,0.0,...,0,0,0,0,0,0,1,0,0,35
1,161455,0,5978,4,3.0,75.0,22.714286,15.0,23.389340,3.0,...,1,0,0,0,0,0,0,0,1,2
2,92385,88,34785,70,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,1,0
3,395272,0,3406,17,0.0,22.0,4.000000,1.0,6.599663,0.0,...,0,1,1,0,0,0,0,0,0,0
4,4349418,0,614043,9,0.0,958.0,65.974194,24.0,126.960748,0.0,...,0,1,1,0,0,0,0,0,0,0
5,22899301,1,2454921,2,0.0,2526.0,958.181818,618.0,742.114157,0.0,...,0,0,0,1,0,0,0,0,0,112

In [7]:
ytest = df_test['incoming comments'].values
Xtest = df_test[['likes', 'visitors', 'people', 'category', 'length', 'shares', 'promoted', 'sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'incoming comments']]
ytest_pred = regr.predict(Xtest)

In [8]:
RSS_test = np.mean((ytest_pred-ytest)**2)/(np.std(ytest)**2)
print(RSS_test)

4.4175776676807794e-29